body{
  padding-top: 50px;
  padding-bottom: 20px;
}
#nav{
  li{
    font-size: 0.9em;
    line-height: 1;
  }
  input{
    height: auto;
    padding: 5px;
    font-size: 12px;
    margin-right: 4px;
    vertical-align: middle;
    color: #bbb;
  }
  .search-form{
    margin-top: 10px;
  }
}